body{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    width:600px;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    background-color:cadetblue;
}

.container h1{
    text-transform: uppercase;
    color:whitesmoke;
}

.container textarea{
    outline:none;
    width:100%;
    height: 300px;
    resize:none;
    border-radius: 5px;
    box-shadow: 0 16px 32px rgba(0,0,0,0.2);
    border:1px solid gray;
    padding: 10px;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.container .count_text{
    width: 100%;
    border: 1px solid whitesmoke;
    background-color:whitesmoke;
    color: cadetblue;
    font-size: 1.5em;
    font-weight: bold;
    padding:5px;
    border-radius: 5px;
}

.container .count_text .value{
    color: darkmagenta;
}